.weather{
    border: 1px solid #dadde1 ;
    font-family: arial, sans-serif;
    padding: 16px;
    border-radius: 4px; 
    color: rgb(135, 135, 135);
}

.weather h1{
    font-size: 24px;
    margin: 20px 0 0 0;
    line-height: 29px;

}
.weather ul{
    /* color: red; */
    margin: 0;
    padding: 0;
}

.weather li{
    font-size:16px ;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.weather .temperature {
    font-weight: bold;
    font-weight: 400;
    color: rgb(33, 33, 33);
    font-size: 54px;
    line-height: 64px;
    margin-left: 5px;
    margin-left: 10px; 
}
.weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}
/* .weather img{
    height: 64px;
    margin-right: 10px;
    display: inline-block;
} */



/* 






.Weather canvas {
    margin: 10px auto;
}


}   */